- name: app setup import role
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

- name: java setup import role
  ansible.builtin.import_role:
    name: common
    tasks_from: java-setup.yaml

- name: system setup import role
  ansible.builtin.import_role:
    name: common
    tasks_from: systemd-setup.yaml

- name: install dependencies
  ansible.builtin.pip:
    name: "{{ item }}"
    executable: pip3.9
  loop:
  - cryptography
  - PyMySql

- name: load mysql data
  community.mysql.mysql_db:
    state: import
    name: all
    login_host: "{{ MYSQL_HOST }}"
    login_user: root
    login_password: RoboShop@1
    target: "{{ item }}"
  loop:
    - /app/db/schema.sql
    - /app/db/app-user.sql
    - /app/db/master-data.sql

- name: start and enable mysql service
  ansible.builtin.service:
    name: shipping
    state: restarted
    enabled: yes